<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.SharedSource.SolrAnalyzer.LoadRoutes,Sitecore.SharedSource.SolrAnalyzer" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
      </initialize>
    </pipelines>
    <settings>
      <!-- Solr 6-->
      <setting name="SolrAnalyzer.LogFile.Location" value="C:\solr-6.4.1\server\logs\solr.log"/>
      
      <!-- Solr 4-->
      <!--<setting name="SolrAnalyzer.LogFile.Location" value="C:\tomcat\logs\solr4.txt"/>-->
      
      <!-- Global Settings -->
      <setting name="SolrAnalyzer.QueryDisplayLength" value="115"/>
    </settings>
  </sitecore>
</configuration>